@{
   
}
@*
<h1 id="judul" class="mb-5">ini sebuah judul</h1>
<div class="container">
    
    <section id="a">
        <p class="p1">ini sebuah paragraf ke-1</p>
        <a href="#">ini sebuah link</a>
        <p class="p2" onclick="berubah();">ini sebuah paragraf ke-2</p>
        <p class="p3">ini sebuah paragraf ke-3</p>
        <p class="p4">ini sebuah paragraf ke-4</p>
        <div id="b">
            <span id="a">
                Consectetur adipiscing elit fusce vel.
            </span>
            <p>
                Adipiscing elit fusce vel sapien elit.
            </p>
        </div>
    </section>

    <section id="b" class="section2">
        <p>ini paragraf 5</p>
        <ul id="a">
            <li id="list" class="list">ini sebuah list</li>
            <li id="list" class="list">ini sebuah list</li>
            <li id="list" class="list">ini sebuah list</li>
            <li id="list" class="list">ini sebuah list</li>
        </ul>
    </section>


</div>
*@

<h1>List Pokemon</h1>

<ul id="listPoke"></ul>



<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tablePoke">
        

    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalPokeDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>